__pycache__
env
j.json
anotacoes.txt
*.ipynb
Keys.json
.env
*.csv
logs/*
target
dbt.log
profiles.yml
postgres-db-volume
poli-airflow/logs/
poli-airflow/dbt/logs/
poli-airflow/airflow/logs/
airflow/logs/